// This theme file was generated in 00_srf-news-sandbox
@use "@Styles/newsColors" as *;

:root {
  --t-news-body-bg: unset;
  --t-news-interactive-bg: unset;
  --t-news-primary-bg: unset;
  --t-news-primary-text: unset;
  --t-news-secondary-bg: unset;
  --t-news-secondary-highlight-bg: unset;
  --t-news-soft-red: unset;
  --t-news-soft-red-highlight: unset;
  --t-news-soft-grey: unset;
  --t-news-black: #{$neutral-black};
  --t-news-white: #{$neutral-white};
  --t-news-white-a7: color-mix(in srgb, var(--t-news-white) 7.8%, transparent);
  --t-news-white-a12: color-mix(in srgb, var(--t-news-white) 12%, transparent);
  --t-news-white-a24: color-mix(in srgb, var(--t-news-white) 24%, transparent);
  --t-news-black-a7: color-mix(in srgb, var(--t-news-black) 7.8%, transparent);
  --t-news-black-a12: color-mix(in srgb, var(--t-news-black) 12%, transparent);
}

[data-theme="dark"] {
  --t-news-body-bg: #{$warmgrey-1150};
  --t-news-interactive-bg: #{$warmgrey-900};
  --t-news-primary-bg: #{$warmgrey-1100};
  --t-news-primary-text: #{$warmgrey-10};
  --t-news-secondary-bg: #{$warmgrey-1000};
  --t-news-secondary-highlight-bg: #{$warmgrey-1050};
  --t-news-soft-red: #{$red-300};
  --t-news-soft-red-highlight: #{$red-200};
  --t-news-soft-grey: #{$warmgrey-300};
}

body[data-theme] {
  --t-caret-icon-red-mask: var(--t-news-soft-red);
  --t-text-list: var(--t-news-soft-red);
  --t-a-underline: var(--t-news-soft-red);
  --t-a-underline-hover: var(--t-news-soft-red-highlight);
  --t-a-underline-active: #ffbbbcff;
  --t-button-label: #f5f5f2ff;
  --t-button-label-bg: var(--t-news-interactive-bg);
  --t-button-label-hover: #5e5d56ff;
  --t-body-bg: var(--t-news-body-bg);
  --t-a-color: var(--t-news-soft-red);
  --t-a-color-hover: var(--t-news-soft-red-highlight);
  --t-a-color-active: #ffbbbcff;
  #polis-tooltip {
    --t-polis-tooltip-neutral: #9f9c90ff;
    --t-polis-tooltip-yes: #42a3f1ff;
    --t-polis-tooltip-no: var(--t-news-soft-red);
  }
  .article-author {
    --t-article-author: var(--t-news-white);
    --t-article-date: var(--t-news-soft-grey);
  }
  .article-content {
    --t-article-content: var(--t-news-primary-text);
  }
  .article-lead {
    --t-article-lead: var(--t-news-primary-text);
  }
  .article-reference {
    --t-article-reference: var(--t-news-white);
  }
  .article-teaser {
    --t-article-teaser-kicker: var(--t-news-soft-red);
    --t-article-teaser-title: var(--t-news-white);
  }
  .article-title {
    --t-article-overline: var(--t-news-soft-red);
    --t-article-title: var(--t-news-white);
  }
  .articlepage {
    --t-articlepage-bg: var(--t-news-primary-bg);
    --t-articlepage-article-content: var(--t-news-primary-text);
    --t-articlepage-topmedia-caption-bg: var(--t-news-secondary-bg);
    --t-articlepage-topmedia-caption-active-bg: var(--t-news-body-bg);
  }
  .basic-caption {
    --t-basic-caption: #f5f5f2ff;
    --t-basic-caption-source: var(--t-news-soft-grey);
    --t-basic-caption-source-link: var(--t-news-soft-red);
    --t-basic-caption-description: var(--t-news-white);
    --t-basic-caption-active-title: var(--t-news-white);
    --t-basic-caption-active-source: #cac8bfff;
  }
  .basic-media-player {
    --t-basic-media-player-bg-active: var(--t-news-black);
    --t-basic-media-player-caption-bg: var(--t-news-secondary-bg);
    --t-basic-media-player-caption-bg-active: var(--t-news-body-bg);
  }
  .block-link {
    --t-block-link: var(--t-news-soft-red);
    --t-block-link-box-bg-hover: #45443dff;
    --t-block-link-box-bg-focus: var(--t-news-interactive-bg);
    --t-block-link-box-border: var(--t-news-white-a12);
    --t-block-link-icon: var(--t-news-soft-red);
    --t-block-link-podcast-bg-hover: #45443dff;
    --t-block-link-podcast-bg-active: var(--t-news-interactive-bg);
    --t-block-link-separator: #45443dff;
    --t-block-link-separator-bg-hover: #45443dff;
  }
  .blockquote {
    --t-blockquote: var(--t-news-white);
    --t-blockquote-mark: var(--t-news-soft-red);
    --t-blockquote-author: var(--t-news-primary-text);
    --t-blockquote-function: var(--t-news-soft-grey);
  }
  .breadcrumbs {
    --t-breadcrumb-link: var(--t-news-white);
    --t-breadcrumb-link-bg: var(--t-news-interactive-bg);
    --t-breadcrumb-link-bg-hover: #5e5d56ff;
    --t-breadcrumb-link-bg-active: #6b6960ff;
    --t-breadcrumb-icon: var(--t-news-white);
  }
  .button {
    --t-button: var(--t-news-primary-bg);
    --t-button-bg: var(--t-news-soft-grey);
    --t-button-bg-hover: #cac8bfff;
    --t-button-bg-active: #dadad2ff;
    --t-button-secondary: var(--t-news-white);
    --t-button-secondary-bg: var(--t-news-interactive-bg);
    --t-button-secondary-bg-hover: #5e5d56ff;
    --t-button-secondary-bg-active: #6b6960ff;
    --t-button-white: var(--t-news-white);
    --t-button-white-bg: var(--t-news-secondary-bg);
    --t-button-white-bg-hover: #45443dff;
    --t-button-white-bg-active: var(--t-news-interactive-bg);
    --t-button-dark: var(--t-news-white);
    --t-button-dark-bg: var(--t-news-interactive-bg);
    --t-button-dark-bg-hover: #6b6960ff;
    --t-button-dark-bg-active: #888579ff;
    --t-button-inactive-bg: var(--t-news-soft-grey);
    --t-button-pill-bg: var(--t-news-secondary-bg);
    --t-button-link-text: var(--t-news-soft-red);
    --t-button-neutral-text: var(--t-news-white);
    --t-button-neutral-bg-hover: #b9b7ac1f;
    --t-button-neutral-bg-active: #b9b7ac3d;
    --t-button-accented-bg-hover: var(--t-news-interactive-bg);
    --t-button-accented-bg-active: #45443dff;
    --t-button-cta-bg-start: #e31f2bff;
    --t-button-cta-bg-end: #c91024ff;
    --t-button-share: var(--t-news-primary-text);
    --t-button-share-bg: var(--t-news-interactive-bg);
    --t-button-share-bg-hover: #5e5d56ff;
    --t-button-share-bg-active: #6b6960ff;
  }
  .checkbox-label {
    --t-checkbox-label: var(--t-news-white);
    --t-checkbox-label-bg-hover: #5e5d56ff;
    --t-checkbox-label-bg-active: #6b6960ff;
    --t-checkbox-label-icon-border: var(--t-news-soft-grey);
    --t-checkbox-label-icon-border-checked: var(--t-news-soft-red);
    --t-checkbox-on-error: var(--t-news-soft-red);
    --t-checkbox-icon-border-on-error: var(--t-news-soft-red);
  }
  .chmap-tooltip {
    --t-chmap-tooltip: #f5f5f2ff;
    --t-chmap-tooltip-bg: var(--t-news-body-bg);
  }
  .circle-image {
    --t-circle-image-border: var(--t-news-secondary-highlight-bg);
    --t-circle-image-border-presenter: var(--t-news-secondary-highlight-bg);
    --t-circle-image-border-meteo: var(--t-news-secondary-highlight-bg);
  }
  .collection {
    --t-collection: var(--t-news-white);
    --t-collection-complementary: var(--t-news-primary-bg);
    --t-collection-lead: #f5f5f2ff;
    --t-collection-title-link: var(--t-news-soft-red);
    --t-collection-title-link-hover: var(--t-news-soft-red-highlight);
    --t-collection-title-link-active: #ffbbbcff;
    --t-collection-link: var(--t-news-white);
    --t-collection-link-bg: var(--t-news-primary-bg);
    --t-collection-link-bg-hover: var(--t-news-secondary-highlight-bg);
    --t-collection-link-bg-active: var(--t-news-secondary-bg);
    --t-collection-list-bg: var(--t-news-body-bg);
    --t-collection-list-item-line: var(--t-news-white-a12);
    --t-collection-teaser-item-bg-hover: var(--t-news-white-a7);
    --t-collection-teaser-item-bg-active: var(--t-news-white-a12);
    --t-collection-swipeable-button-bg: var(--t-news-interactive-bg);
    --t-collection-swipeable-button-separator: var(--t-news-white-a7);
    --t-collection-swipeable-button-inactive-filter: brightness(0.5);
    --t-collection-micro-bg: 34, 33, 29;
    --t-collection-micro-decoration: #cac8bfff;
    --t-collection-micro-column-separator: var(--t-news-white-a24);
  }
  .collection--micro .collection__teaser-item,
  .collection--micro-numeric .collection__teaser-item,
  .collection--micro-bullets .collection__teaser-item {
    --fec-teaser-kicker-color: var(--t-news-white);
  }
  .collection--theme-kassensturz-espresso,
  .collection--theme-radio-virus,
  .collection--theme-radio-srf-1,
  .collection--theme-puls,
  .collection--theme-rtr-sport,
  .collection--theme-esc-2025,
  .collection--theme-besser-leben {
    --t-collection: var(--t-news-primary-bg);
    --t-collection-complementary: var(--t-news-white);
    --t-collection-link-bg: #0000000a;
    --t-collection-link-bg-hover: var(--t-news-black-a7);
    --t-collection-link-bg-active: var(--t-news-black-a12);
    --t-collection-micro-column-separator: var(--t-news-black-a12);
  }
  .collection--theme-kids-blue,
  .collection--theme-kids-pink,
  .collection--theme-neutral-srf,
  .collection--theme-neutral-strong,
  .collection--theme-radio-musikwelle,
  .collection--theme-radio-srf-3,
  .collection--theme-news-update,
  .collection--theme-news,
  .collection--theme-play,
  .collection--theme-meteo-background-rebranding,
  .collection--theme-dok,
  .collection--theme-kultur,
  .collection--theme-sport,
  .collection--theme-wissen,
  .collection--theme-novitads,
  .collection--theme-interpresa,
  .collection--theme-uffants,
  .collection--theme-archiv,
  .collection--theme-cultura,
  .collection--theme-school,
  .collection--theme-datawrapper,
  .collection--theme-hintergrund {
    --t-collection: var(--t-news-white);
    --t-collection-complementary: var(--t-news-primary-bg);
    --t-collection-link-bg: var(--t-news-white-a7);
    --t-collection-link-bg-hover: var(--t-news-white-a12);
    --t-collection-link-bg-active: var(--t-news-white-a24);
    --t-collection-micro-column-separator: var(--t-news-white-a24);
  }
  .collection--themed {
    --t-collection-theme-news: 106, 11, 12;
    --t-collection-theme-sport: 215, 0, 45;
    --t-collection-theme-meteo-background-rebranding: 8, 81, 139;
    --t-collection-theme-dok: 5, 65, 64;
    --t-collection-theme-kultur: 140, 29, 96;
    --t-collection-theme-news-update: 56, 55, 50;
    --t-collection-theme-kassensturz-espresso: 77, 162, 218;
    --t-collection-theme-puls: 255, 102, 105;
    --t-collection-theme-wissen: 97, 106, 112;
    --t-collection-theme-neutral-strong: 13, 12, 11;
    --t-collection-theme-neutral-srf: 20, 20, 17;
    --t-collection-theme-kids-blue: 0, 105, 115;
    --t-collection-theme-kids-pink: 179, 0, 93;
    --t-collection-theme-radio-virus: 157, 242, 0;
    --t-collection-theme-radio-musikwelle: 1, 102, 167;
    --t-collection-theme-radio-srf-1: 244, 172, 16;
    --t-collection-theme-radio-srf-3: 46, 45, 41;
    --t-collection-theme-play: 46, 45, 41;
    --t-collection-theme-datawrapper: 34, 33, 29;
    --t-collection-theme-hintergrund: 38, 3, 3;
    --t-collection-theme-besser-leben: 255, 187, 188;
    --t-collection-theme-novitads: 156, 42, 69;
    --t-collection-theme-interpresa: 161, 13, 29;
    --t-collection-theme-uffants: 43, 110, 88;
    --t-collection-theme-archiv: 46, 45, 41;
    --t-collection-theme-cultura: 52, 1, 73;
    --t-collection-theme-rtr-sport: 232, 110, 4;
    --t-collection-theme-school: 18, 51, 119;
    --t-collection-theme-esc-2025: 11, 209, 215;
  }
  .container-wrapper {
    --t-container-wrapper-audio-bg: var(--t-news-body-bg);
    --t-container-wrapper-border: var(--t-news-white-a12);
  }
  .content-heading {
    --t-content-heading: var(--t-news-white);
  }
  .decorated-link {
    --t-decorated-link: var(--t-news-soft-red);
    --t-decorated-link-hover: var(--t-news-soft-red-highlight);
    --t-decorated-link-active: #ffbbbcff;
  }
  .embed {
    --t-global-article-text: var(--t-news-primary-text);
    --t-global-article-bg: var(--t-news-primary-bg);
    --t-global-article-bg-alpha: #000000cc;
    --t-global-warmgrey-min-contrast: var(--t-news-secondary-bg);
    --t-global-warmgrey-low-contrast: #6b6960ff;
    --t-global-warmgrey-high-contrast: #cac8bfff;
    --t-global-warmgrey-max-contrast: var(--t-news-soft-grey);
    --t-global-red: var(--t-news-soft-red);
    --t-global-red-high-contrast: var(--t-news-soft-red-highlight);
    --t-global-red-max-contrast: #ffbbbcff;
  }
  .expand-icon {
    --t-expand-icon-invert: var(--t-news-primary-text);
    --t-expand-icon-text: var(--t-news-soft-red);
  }
  .expandable-box {
    --t-expandable-box-bg: var(--t-news-secondary-bg);
    --t-expandable-box-bg-hover: #45443dff;
    --t-expandable-box-bg-active: var(--t-news-interactive-bg);
    --t-expandable-box-content: #f5f5f2ff;
  }
  .footer {
    --t-footer: var(--t-news-white);
    --t-footer-bg: var(--t-news-primary-bg);
    --t-footer-border-top: 0 -1px 0 0 rgba(255, 255, 255, 0.12);
    --t-footer-navigation-link: #cac8bfff;
    --t-footer-navigation-link-hover: #cac8bfff;
    --t-footer-navigation-link-active: #cac8bfff;
    --t-footer-navigation-link-bg-hover: #b9b7ac1f;
    --t-footer-navigation-link-bg-active: #b9b7ac3d;
    --t-footer-description: #cac8bfff;
    --t-footer-bu-link: #ebebe5ff;
    --t-footer-bu-link-hover: #ebebe5ff;
    --t-footer-bu-link-active: #ebebe5ff;
    --t-footer-bu-link-bg: var(--t-news-interactive-bg);
    --t-footer-bu-link-bg-hover: #5e5d56ff;
    --t-footer-bu-link-bg-active: #6b6960ff;
    --t-gl-search-bg: var(--t-news-secondary-highlight-bg);
    --t-gl-search-text: #dadad2ff;
    --t-gl-search-border: var(--t-news-white-a12);
  }
  .form__validation {
    --t-form-validation-error: var(--t-news-soft-red);
  }
  .globalnav {
    --t-globalnav-sub-bg: var(--t-news-secondary-highlight-bg);
    --t-globalnav-group-border: var(--t-news-white-a12);
  }
  .globalnav-link {
    --t-globalnav-link: var(--t-news-white);
    --t-globalnav-link-bg-hover: #b9b7ac1f;
    --t-globalnav-link-bg-active: #b9b7ac3d;
    --t-globalnav-link-sub: var(--t-news-white);
    --t-globalnav-link-highlight: var(--t-news-soft-red);
  }
  .horizontal-separator {
    --t-horizontal-separator: var(--t-news-white-a12);
  }
  .image {
    --t-image-bg: var(--t-news-primary-bg);
  }
  .image-gallery {
    --t-image-gallery: var(--t-news-primary-text);
    --t-image-gallery-bg: #111111ff;
    --t-image-gallery-caption-bg: var(--t-news-secondary-bg);
  }
  .image-link {
    --t-image-link: var(--t-news-white);
    --t-image-link-border: var(--t-news-white-a7);
    --t-image-link-bg-hover: var(--t-news-white-a7);
    --t-image-link-bg-active: var(--t-news-interactive-bg);
  }
  .imagefigure {
    --t-imagefigure-bg: var(--t-news-secondary-bg);
  }
  .inline-audio-player {
    --t-inline-audio-player-bg: var(--t-news-secondary-bg);
    --t-inline-audio-player-bg-hover: #45443dff;
    --t-inline-audio-player-bg-active: var(--t-news-body-bg);
  }
  .input-field {
    --t-input-field: #dadad2ff;
    --t-input-field-on-error: var(--t-news-soft-red);
  }
  .input-field__text {
    --t-input-field-text: var(--t-news-white);
    --t-input-field-text-placeholder: #dadad2ff;
    --t-input-field-text-bg: var(--t-news-secondary-highlight-bg);
    --t-input-field-text-border: var(--t-news-white-a7);
    --t-input-field-text-bg-focus: var(--t-news-secondary-bg);
    --t-input-field-text-border-focus: var(--t-news-white-a24);
    --t-input-field-text-border-on-error: var(--t-news-soft-red);
    --t-input-field-text-border-success: #42a3f1ff;
    --t-input-field-text-svg-on-error: url(/staticfiles/aron/assets/exclamation-mark-red-brighter-GUWjFsCH.svg);
    --t-input-field-text-calendar-svg: url(/staticfiles/aron/assets/calendar_white-DnGdn-0L.svg);
  }
  .input-field-hint {
    --t-input-field-hint: var(--t-news-soft-grey);
    --t-input-field-hint-on-error: var(--t-news-soft-red);
  }
  .l-card {
    --t-card-bg: var(--t-news-primary-bg);
  }
  .linkbox {
    --t-linkbox-title: var(--t-news-primary-text);
    --t-linkbox-title-materialbox: var(--t-news-primary-text);
    --t-linkbox-border: var(--t-news-white-a12);
    --t-linkbox-bg-hover: var(--t-news-white-a7);
    --t-linkbox-bg-active: var(--t-news-white-a12);
  }
  .liveticker {
    --t-liveticker-border: #45443dff;
    --t-liveticker-border-overlapping: var(--t-news-primary-bg);
    --t-liveticker-item-bg: var(--t-news-primary-bg);
    --t-liveticker-item-bg-new: var(--t-news-soft-red);
    --t-liveticker-info: #dadad2ff;
    --t-liveticker-info-bg: var(--t-news-primary-bg);
    --t-liveticker-info-shadow: var(--t-news-primary-bg);
    --t-liveticker-info-live: var(--t-news-soft-red);
  }
  .liveticker-item {
    --t-ticker-border: #45443dff;
    --t-liveticker-item-bg: var(--t-news-primary-bg);
    --t-ticker-object-shadow: var(--t-news-primary-bg);
  }
  .login-toast-container {
    --t-srg-login-toast-bg: #fefefdff;
    --t-srg-login-toast-text: var(--t-news-primary-bg);
  }
  .masthead {
    --t-masthead-bg: var(--t-news-primary-bg);
    --t-masthead-title: var(--t-news-white);
    --t-masthead-icon: var(--t-news-white);
    --t-masthead-top-bar-bg: var(--t-news-secondary-highlight-bg);
    --t-gl-subnav-icon: var(--t-news-white);
    --t-gl-subnav-pager-bg: var(--t-news-primary-bg);
    --t-gl-subnav-pager-bg-alpha: #22211d00;
    --t-gl-subnav-pager-bg-hover: #b9b7ac1f;
    --t-gl-subnav-pager-bg-active: #b9b7ac3d;
    --t-gl-nav-group-open-item-color: var(--t-news-white);
    --t-gl-nav-item-active: var(--t-news-soft-red);
    --t-gl-nav-item-active-border: var(--t-news-soft-red);
    --t-gl-nav-item-third-level-icon: var(--t-news-soft-red);
    --t-gl-h-icon-invert: invert(100%) contrast(600%);
  }
  .masthead.masthead--theme-dok {
    --t-masthead-bg: #054140ff;
    --t-gl-subnav-pager-bg: #054140ff;
    --t-gl-subnav-pager-bg-alpha: #05414000;
  }
  .masthead.masthead--theme-kids {
    --t-masthead-bg: #006973ff;
    --t-gl-subnav-pager-bg: #006973ff;
    --t-gl-subnav-pager-bg-alpha: #00697300;
  }
  .masthead.masthead--theme-kultur {
    --t-masthead-bg: #8c1d60ff;
    --t-gl-subnav-pager-bg: #8c1d60ff;
    --t-gl-subnav-pager-bg-alpha: #8c1d6000;
  }
  .masthead.masthead--theme-meteo,
  .masthead.masthead--theme-rtr-aura {
    --t-masthead-bg: #092b49ff;
    --t-gl-subnav-pager-bg: #092b49ff;
    --t-gl-subnav-pager-bg-alpha: #092b4900;
  }
  .masthead.masthead--theme-radio-srf-1 {
    --t-masthead-bg: #f4ac10ff;
    --t-gl-subnav-pager-bg: #f4ac10ff;
    --t-gl-subnav-pager-bg-alpha: #f4ac1000;
  }
  .masthead.masthead--theme-radio-srf-2-kultur {
    --t-masthead-bg: #8c1d60ff;
    --t-gl-subnav-pager-bg: #8c1d60ff;
    --t-gl-subnav-pager-bg-alpha: #8c1d6000;
  }
  .masthead.masthead--theme-radio-srf-3 {
    --t-masthead-bg: #111111ff;
    --t-gl-subnav-pager-bg: #111111ff;
    --t-gl-subnav-pager-bg-alpha: #11111100;
  }
  .masthead.masthead--theme-radio-srf-musikwelle {
    --t-masthead-bg: #0166a7ff;
    --t-gl-subnav-pager-bg: #0166a7ff;
    --t-gl-subnav-pager-bg-alpha: #0166a700;
  }
  .masthead.masthead--theme-radio-srf-virus {
    --t-masthead-bg: #9df200ff;
    --t-gl-subnav-pager-bg: #9df200ff;
    --t-gl-subnav-pager-bg-alpha: #9df20000;
  }
  .masthead.masthead--theme-rtr-archiv {
    --t-masthead-bg: #232326ff;
    --t-gl-subnav-pager-bg: #232326ff;
    --t-gl-subnav-pager-bg-alpha: #23232600;
  }
  .masthead.masthead--theme-rtr-cultura {
    --t-masthead-bg: #340149ff;
    --t-gl-subnav-pager-bg: #340149ff;
    --t-gl-subnav-pager-bg-alpha: #34014900;
  }
  .masthead.masthead--theme-rtr-interpresa,
  .masthead.masthead--theme-raetoromanisch,
  .masthead.masthead--theme-decodar-nossa-cultura,
  .masthead.masthead--theme-rtr-audio {
    --t-masthead-bg: #a10d1dff;
    --t-gl-subnav-pager-bg: #a10d1dff;
    --t-gl-subnav-pager-bg-alpha: #a10d1d00;
    --t-masthead-icon: var(--t-news-white);
    --t-gl-subnav-icon: var(--t-news-white);
  }
  .masthead.masthead--theme-rtr-novitads {
    --t-masthead-bg: #9c2a45ff;
    --t-gl-subnav-pager-bg: #9c2a45ff;
    --t-gl-subnav-pager-bg-alpha: #9c2a4500;
  }
  .masthead.masthead--theme-rtr-sport {
    --t-masthead-bg: #e86e04ff;
    --t-gl-subnav-pager-bg: #e86e04ff;
    --t-gl-subnav-pager-bg-alpha: #e86e0400;
    --t-masthead-icon: var(--t-news-primary-bg);
    --t-gl-subnav-icon: var(--t-news-primary-bg);
  }
  .masthead.masthead--theme-rtr-sport,
  .masthead.masthead--theme-radio-srf-1,
  .masthead.masthead--theme-radio-srf-virus {
    --t-masthead-title: var(--t-news-primary-bg);
    --t-gl-subnav-pager-bg-hover: var(--t-news-black-a7);
    --t-gl-subnav-pager-bg-active: #00000029;
    --t-gl-nav-group-open-item-color: var(--t-news-primary-bg);
    --t-gl-nav-item-active: var(--t-news-black);
    --t-gl-nav-item-active-border: var(--t-news-black);
    --t-gl-nav-item-third-level-icon: var(--t-news-white);
    --t-gl-h-icon-invert: contrast(600%);
    --t-masthead-icon: var(--t-news-interactive-bg);
    --t-gl-subnav-icon: var(--t-news-interactive-bg);
  }
  .masthead.masthead--theme-rtr-uffants {
    --t-masthead-bg: #2b6e58ff;
    --t-gl-subnav-pager-bg: #2b6e58ff;
    --t-gl-subnav-pager-bg-alpha: #2b6e5800;
  }
  .masthead.masthead--theme-school {
    --t-masthead-bg: #123377ff;
    --t-gl-subnav-pager-bg: #123377ff;
    --t-gl-subnav-pager-bg-alpha: #12337700;
  }
  .masthead.masthead--theme-sport {
    --t-masthead-bg: #d7002dff;
    --t-gl-subnav-pager-bg: #d7002dff;
    --t-gl-subnav-pager-bg-alpha: #d7002d00;
  }
  .masthead.masthead--theme-sport,
  .masthead.masthead--theme-meteo,
  .masthead.masthead--theme-rtr-aura,
  .masthead.masthead--theme-kultur,
  .masthead.masthead--theme-dok,
  .masthead.masthead--theme-radio-srf-2-kultur,
  .masthead.masthead--theme-radio-srf-3,
  .masthead.masthead--theme-radio-srf-musikwelle,
  .masthead.masthead--theme-rtr-novitads,
  .masthead.masthead--theme-rtr-cultura,
  .masthead.masthead--theme-rtr-uffants,
  .masthead.masthead--theme-rtr-archiv,
  .masthead.masthead--theme-rtr-interpresa,
  .masthead.masthead--theme-raetoromanisch,
  .masthead.masthead--theme-decodar-nossa-cultura,
  .masthead.masthead--theme-rtr-audio,
  .masthead.masthead--theme-kids,
  .masthead.masthead--theme-school {
    --t-masthead-title: var(--t-news-white);
    --t-gl-subnav-pager-bg-hover: var(--t-news-white-a12);
    --t-gl-subnav-pager-bg-active: var(--t-news-white-a24);
    --t-gl-nav-group-open-item-color: var(--t-news-white);
    --t-gl-nav-item-active: var(--t-news-white);
    --t-gl-nav-item-active-border: var(--t-news-white);
    --t-gl-nav-item-third-level-icon: var(--t-news-white);
    --t-masthead-icon: var(--t-news-white);
    --t-gl-subnav-icon: var(--t-news-white);
  }
  .masthead.masthead--theme-wissen {
    --t-masthead-bg: #616a70ff;
    --t-gl-subnav-pager-bg: #616a70ff;
    --t-gl-subnav-pager-bg-alpha: #616a7000;
    --t-gl-nav-item-active: var(--t-news-white);
    --t-gl-nav-item-active-border: var(--t-news-white);
  }
  .media-blocking-notice {
    --t-media-blocking-notice: var(--t-news-soft-grey);
    --t-media-blocking-notice-bg: var(--t-news-body-bg);
  }
  .media-caption {
    --t-media-caption: #f5f5f2ff;
    --t-media-caption-bg-hover: #45443dff;
    --t-media-caption-description: var(--t-news-white);
    --t-media-caption-source: var(--t-news-soft-grey);
    --t-media-caption-source-link: var(--t-news-soft-red);
    --t-media-caption-active-title: var(--t-news-white);
    --t-media-caption-active-source: #cac8bfff;
    --t-media-caption-separator: var(--t-news-white-a12);
    --t-media-caption-image-figure-bg: var(--t-news-secondary-bg);
  }
  .media-error {
    --t-media-error: #f5f5f2ff;
    --t-media-error-bg: var(--t-news-secondary-bg);
  }
  .media-loading {
    --t-media-loading: #f5f5f2ff;
    --t-media-loading-bg: var(--t-news-secondary-bg);
  }
  .media-loading__spinner {
    --spin-c1: var(--t-news-soft-red);
    --spin-c2: var(--t-news-white-a24);
  }
  .medium {
    --t-medium-bg: var(--t-news-secondary-bg);
    --t-medium-bg-hover: #45443dff;
    --t-medium-bg-active: var(--t-news-body-bg);
    --t-medium-object-bg: var(--t-news-black);
    --t-medium-notice: var(--t-news-soft-grey);
    --t-medium-notice-bg: var(--t-news-body-bg);
    --t-media-video-gallery-bg-hover: var(--t-news-primary-bg);
    --t-media-video-gallery-caption-bg-hover: #222222ff;
    --t-medium-caption-link: #f5f5f2ff;
    --t-medium-kicker: var(--t-news-soft-red);
    --t-medium-related-items-video: var(--t-news-secondary-bg);
    --t-medium-lead: var(--t-news-primary-text);
  }
  .menu-link {
    --t-menu-link: var(--t-news-white);
    --t-menu-link-success: #66bbffff;
    --t-menu-link-on-error: var(--t-news-soft-red);
    --t-menu-link-bg-hover: #b9b7ac1f;
    --t-menu-link-bg-active: #b9b7ac3d;
  }
  .modal {
    --t-modal-bg: var(--t-news-primary-bg);
    --t-modal-bottom-bg: var(--t-news-secondary-bg);
    --t-modal: var(--t-news-white);
    --t-gl-search-bg: var(--t-news-secondary-highlight-bg);
    --t-gl-search-text: #dadad2ff;
    --t-gl-search-border: var(--t-news-white-a12);
    --t-gl-h-icon-invert: none;
    --t-gl-nav-group-open-item-color: var(--t-news-white);
  }
  .modal-flyout {
    --t-modal-flyout: var(--t-news-white);
    --t-modal-flyout-bg: var(--t-news-secondary-bg);
  }
  .modal.modal--theme-dark {
    --t-modal-bg: var(--t-news-black);
    --t-gl-search-bg: var(--t-news-secondary-highlight-bg);
    --t-gl-search-text: #dadad2ff;
    --t-gl-search-border: var(--t-news-white-a12);
    --t-gl-h-icon-invert: none;
    --t-gl-nav-group-open-item-color: var(--t-news-white);
  }
  .nav-group__list {
    --t-nav-group-bg: var(--t-news-secondary-highlight-bg);
    --t-nav-group-border: var(--t-news-black-a7);
  }
  .nav-item {
    --t-nav-item-icon: var(--t-news-primary-text);
    --t-nav-item-3rd-level: var(--t-news-white);
    --t-nav-item-3rd-level-bg-hover: var(--t-news-white-a12);
    --t-nav-item-3rd-level-bg-active: var(--t-news-white-a24);
    --t-nav-item-home: var(--t-news-white);
  }
  .news-toggle {
    --t-label: #dadad2ff;
    --t-thumb: var(--t-news-primary-text);
    --t-thumb-hovered: var(--t-news-white);
    --t-thumb-big: #f5f5f2ff;
    --t-bar: #cac8bfff;
    --t-bar-big: #939184ff;
    --t-text: var(--t-news-white);
    --t-thumb-checked: var(--t-news-soft-red);
    --t-thumb-checked-hovered: #f1434aff;
    --t-bar-checked: var(--t-news-soft-red);
    --t-thumb-active: #66bbffff;
    --t-thumb-checked-hovered-active: #42a3f1ff;
    --t-bar-active: #66bbffff;
  }
  .person-details {
    --t-person-details-name: var(--t-news-white);
    --t-person-details-function: var(--t-news-soft-grey);
  }
  .player-modal {
    --t-modal-bg: var(--t-news-black);
  }
  .player-widget {
    --t-player-widget-bg: var(--t-news-secondary-bg);
  }
  .podcast-box {
    --t-podcast-box-bg: var(--t-news-secondary-bg);
    --t-podcast-kicker: var(--t-news-soft-red);
  }
  .polis-style-provider {
    --t-polis-text-default: #f5f5f2ff;
    --t-polis-text-yes: #42a3f1ff;
    --t-polis-text-no: var(--t-news-soft-red);
    --t-polis-bar-text: var(--t-news-white);
    --t-polis-bar-bg-default: #6b6960ff;
    --t-polis-bar-bg-yes: #1a7ac5ff;
    --t-polis-bar-bg-no: #e31f2bff;
    --t-polis-title-link: var(--t-news-soft-red);
    --t-polis-title-link-hover: var(--t-news-soft-red-highlight);
    --t-polis-district-name: #cac8bfff;
    --t-polis-district-votes-neutral: #9f9c90ff;
    --t-polis-district-separator: var(--t-news-interactive-bg);
    --t-polis-res-0: #8d0614ff;
    --t-polis-res-40: #c91024ff;
    --t-polis-res-45: #f1434aff;
    --t-polis-res-50: var(--t-news-soft-red-highlight);
    --t-polis-res-55: #91ceffff;
    --t-polis-res-60: #1e8ce3ff;
    --t-polis-res-65: #1a7ac5ff;
    --t-polis-res-100: #08518bff;
    --t-polis-default-canton-bg: #6b6960ff;
    --t-polis-canton-borders: var(--t-news-body-bg);
    --t-polis-canton-borders-selected: #f5f5f2ff;
  }
  .portalsnav {
    --t-portalsnav-large-link: var(--t-news-white);
  }
  .privacywall {
    --t-privacywall-border: #dadad2ff;
    --t-privacywall: var(--t-news-white);
    --t-privacywall-link: var(--t-news-soft-red);
    --t-privacywall-icon: #f5f5f2ff;
  }
  .promo-banner {
    --t-promo-banner-meteo-bg: #08518bff;
    --t-promo-banner-news-bg: linear-gradient(
      180deg,
      #ccbfa3 19.93%,
      #b39d7d 81.54%
    );
  }
  .pseudo-link {
    --t-pseudo-link: var(--t-news-soft-red);
    --t-pseudo-link-hover: var(--t-news-soft-red-highlight);
    --t-pseudo-link-active: #ffbbbcff;
  }
  .qa-wrapper {
    background-color: var(--t-news-black);
  }
  .radio-button-label {
    --t-radio-button-bg: var(--t-news-interactive-bg);
    --t-radio-button-bg-hover: #5e5d56ff;
    --t-radio-button-bg-active: #6b6960ff;
    --t-radio-button-icon-unselected: var(--t-news-soft-grey);
    --t-radio-button-icon-selected: var(--t-news-soft-red);
  }
  .related-item {
    --t-related-item: var(--t-news-white);
    --t-related-item-bg-hover: var(--t-news-secondary-bg);
    --t-related-item-bg-active: var(--t-news-white-a12);
    --t-related-item-kicker: var(--t-news-soft-red);
    --t-related-item-source: var(--t-news-soft-grey);
    --t-related-item-border: #45443dff;
  }
  .related-items-list {
    --t-related-items: var(--t-news-white);
    --t-related-item-border: #45443dff;
    --t-related-item-bg-hover: var(--t-news-secondary-bg);
    --t-related-item-bg-active: var(--t-news-white-a12);
  }
  .search {
    --t-search-bg-active: var(--t-news-secondary-bg);
    --t-search-text: #dadad2ff;
    --t-search-text-active: #f5f5f2ff;
    --t-search-border: var(--t-news-white-a24);
    --t-search-result-bg-hover: #45443dff;
    --t-search-result-bg-active: #5e5d56ff;
    --t-search-icon: invert(100%) contrast(600%);
    --t-search-result-icon-bg: var(--t-news-soft-grey);
    --t-search-results-label: var(--t-news-white);
    --t-gl-search-bg: var(--t-news-secondary-highlight-bg);
    --t-gl-search-border: var(--t-news-white-a12);
  }
  .select-menu {
    background-image: url("/staticfiles/aron/assets/menu_arrow_white-ASosvLqR.svg");
    background-position-x: right 16px;
    background-position-y: center;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: var(--t-news-interactive-bg);
  }
  .select-menu,
  .select-menu-label {
    --t-select-menu: var(--t-news-white);
    --t-select-menu-label: #dadad2ff;
    --t-select-menu-bg: var(--t-news-interactive-bg);
    --t-select-menu-bg-hover: #6b6960ff;
    --t-select-menu-bg-active: #888579ff;
  }
  .sharing-bar {
    --t-sharing-bar-bg: var(--t-news-primary-bg);
  }
  .shimmer {
    --t-shimmer-bg: var(--t-news-white-a12);
    --t-shimmer-gradient: var(--t-news-white-a24);
    --t-shimmer-overline-bg: #ff66691f;
    --t-shimmer-overline-gradient: #ff66693d;
  }
  .show-more-bar {
    --t-show-more-bar-border: var(--t-news-secondary-bg);
  }
  .songlog {
    --t-log-artist: #cac8bfff;
    --t-log-time: var(--t-news-soft-grey);
    --t-log-title: var(--t-news-white);
  }
  .songlog__title {
    --t-log-title: var(--t-news-white);
  }
  .srg-login-container {
    --t-srg-login-bg: var(--t-news-secondary-highlight-bg);
    --t-srg-login-border: var(--t-news-white-a12);
    --t-srg-login-header-text: #9f9c90ff;
    --t-srg-login-text: #f5f5f2ff;
    --t-srg-login-text-status: #cac8bfff;
  }
  .svg-icon {
    --t-svg-icon-standard: var(--t-news-white);
    --t-svg-icon-no-theme: var(--t-news-white);
    --t-svg-icon-arrow-grey: var(--t-news-primary-text);
    --t-svg-icon-download-red: var(--t-news-white);
    --t-svg-icon-download-success: var(--t-news-white);
    --t-svg-icon-link-red: var(--t-news-soft-red);
  }
  .svg-icon--loggedin-profile {
    background-image: url("/staticfiles/aron/assets/loggedin-profile-dark-CqsEKAdj.svg");
  }
  .svg-icon--login-profile {
    background-image: url("/staticfiles/aron/assets/login-profile-dark-qdaZrjem.svg");
  }
  .swipeable-area {
    --t-swipeable-area-button-background: var(--t-news-interactive-bg);
    --t-swipeable-area-button-separator: var(--t-news-white-a7);
    --t-swipeable-area-mask-bg-rgb: 20, 20, 17;
  }
  .table {
    --t-th: var(--t-news-white);
    --t-th-bg: #45443dff;
    --t-tr-bg: var(--t-news-secondary-bg);
    --t-tr-bg-shade: var(--t-news-secondary-highlight-bg);
    --t-td: #f5f5f2ff;
    --t-td-border: var(--t-news-primary-bg);
  }
  .teaser {
    --t-teaser: #dadad2ff;
    --t-teaser-bg: var(--t-news-primary-bg);
    --t-teaser-filter-active: brightness(1.08);
    --t-teaser-kicker: var(--t-news-soft-red);
    --t-teaser-title: var(--t-news-white);
    --t-teaser-subtitle: var(--t-news-white);
    --t-teaser-lead: #dadad2ff;
    --t-teaser-em-bg: #585858a3;
  }
  .teaser-info {
    --t-teaser-info: var(--t-news-soft-grey);
    --t-teaser-info-visited: #42a3f1ff;
    --t-teaser-info-live-or-updated: var(--t-news-soft-red);
    --t-teaser-info-media-info: var(--t-news-soft-grey);
  }
  .teaser-label {
    --t-teaser-label-kultur-bg: #8c1d60ff;
    --t-teaser-label-news-bg: #af001eff;
  }
  .vertical-separator {
    --t-vertical-separator: var(--t-news-white-a12);
  }
}
